<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.pro.mapper.BoardInfoMapper">

	<select id="selectBoardInfos" resultType="com.exam.pro.vo.BoardInfoVO">
		select bi.*, ui.ui_name from BOARD_INFO bi
		inner join user_info ui on bi.ui_num = ui.ui_num
		<where>
			<!-- mybatis에서는 "" 쓰지않는다. 무조건 '' -->
			<if test='biTitle != null and biTitle != ""'>
				and bi_title like concat('%', #{biTitle}, '%')
			</if>
			<if test='uiName != null and uiName != ""'>
				and ui_name like concat('%', #{uiName}, '%')
			</if>
		</where>
		order by BI_NUM desc
	</select>
	
	<select id="selectBoardInfo" resultType="com.exam.pro.vo.BoardInfoVO">
		select bi.*, ui.ui_name from BOARD_INFO bi
		inner join user_info ui on bi.ui_num = ui.ui_num
		where bi.bi_num = #{biNum}
	</select>
	
	<update id="updateBoardInfoCnt">
		update board_info
		set bi_cnt = bi_cnt + 1
		where bi_num = #{biNum}
	</update>
	
	<insert id="insertBoardInfo">
		insert into BoardInfo( bi_title, bi_content, bi_file_path, bi_credat, bi_cretim )
		values( #{biTitle}, #{biContent}, #{biFilePath}
		, date_format(now(), '%Y%m%d'), date_format(now(), '%H%m%s) )
	</insert>
	
</mapper>